target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

!/.mvn/wrapper/maven-wrapper.jar

.idea/
*.iml
.idea

tmp/
**/runner/*result.txt*
!/pipeline/core/workflow/src/test/scala/edu/ucdavis/fiehnlab/ms/carrot/core/workflow/targeted/PositiveModeTargetedWorkflowMSMSVerificationTest.scala
