<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Add bins to new group</h3>
</div>
<div class="modal-body" id="modal-body">
    <ul>
        <li ng-repeat="item in $ctrl.items">Bin {{ item.id }}, {{ item.bin }}</li>
    </ul>

    <label for="groupName">Group Name</label>
    <input type="text" class="form-control" ng-model="groupName" id="groupName">
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
