<h2><i class="fa fa-list-alt"></i> Add Library</h2>
<br />

<div class="alert alert-info" role="alert" ng-show="submitting">
    <h4><i class="fa fa-spinner fa-spin fa-fw"></i> Submitting {{successCount + errorCount}} / {{totalCount}}...</h4>
</div>

<div class="alert alert-success" role="alert" ng-show="success">
    <h4><i class="fa fa-check-circle-o"></i> Success!</h4>
    Your library was submitted successfully!
</div>

<div class="alert alert-danger" role="alert" ng-show="error">
    <h4><i class="fa fa-exclamation-triangle"></i> Error!</h4>
    {{error}}
    <ul>
        <li ng-repeat="e in errors">{{e}}</li>
    </ul>
</div>

<uib-progress max="totalCount" ng-show="submitting || success || error">
    <uib-bar value="successCount" type="success"></uib-bar>
    <uib-bar value="errorCount" type="dangerstat"></uib-bar>
</uib-progress>

<hot-table
        hot-id="library"
        col-headers
        row-headers
        column-sorting
        min-spare-rows="2"
        allow-html="true"
        width="500"
        datarows="data"
        context-menu>

    <hot-column data="targetName" title="'Target Name'"></hot-column>
    <hot-column type="'numeric'" format="'0.0000'" data="precursor" title="'Precursor m/z'"></hot-column>
    <hot-column type="'numeric'" format="'0.00'" data="retentionTime" title="'Retention Index'"></hot-column>
    <hot-column type="'checkbox'" data="riMarker" title="'RI Standard'"></hot-column>
</hot-table>
<br />

<div class="form-group">
    <label>Retention Time Units</label><br>

    <label class="radio-inline">
        <input type="radio" name="ri_unit" value="minutes" ng-model="target.ri_unit"> Minutes
    </label>
    <label class="radio-inline">
        <input type="radio" name="ri_unit" value="seconds" ng-model="target.ri_unit"> Seconds
    </label>
</div>

<div class="form-group">
    <label for="acquisitionMethod">Acquisition Method</label>
    <div class="input-group">
        <input type="text"
               id="acquisitionMethod"
               class="form-control"
               ng-model="target.selectedMethod"
               placeholder="Acquisition Method"
               uib-typeahead="x as x.title for x in acquisitionMethodOptions | filter:$viewValue"
               typeahead-show-hint="true"
               typeahead-min-length="0">
        <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-refresh" ng-click="pullAcquisitionMethodsAndPlatforms()"></i></button>
        </span>
    </div>
</div>

<div class="form-group" ng-if="(target.selectedMethod | getType) == 'string'">
    <label for="mode">Mode</label>
    <select id="mode" class="form-control" data-ng-model="target.mode">
        <option value="positive">Positive</option>
        <option value="negative">Negative</option>
    </select>
</div>

<div>
    <button type="button" class="btn btn-primary" ng-click="submitLibrary()" ng-disabled="running">
        <span ng-if="running" class="spinner"><i class="fa fa-spinner fa-spin"></i></span>
        <span>Submit</span>
    </button>
    <button class="btn btn-primary" type="reset" ng-click="reset()">Reset</button>
</div>