<h2><i class="fa fa-list-alt"></i> Add Library</h2>
<br />

<div class="alert alert-info" role="alert" ng-show="submitting">
    <h4><i class="fa fa-spinner fa-spin fa-fw"></i> Submitting...</h4>
</div>

<div class="alert alert-success" role="alert" ng-show="success">
    <h4><i class="fa fa-check-circle-o"></i> Success!</h4>
    Your library was submitted successfully!
</div>

<div class="alert alert-danger" role="alert" ng-show="error">
    <h4><i class="fa fa-exclamation-triangle"></i> Error!</h4>
    {{error}}
</div>

<hot-table
        hot-id="library"
        col-headers
        row-headers
        column-sorting
        min-spare-rows="2"
        allow-html="true"
        width="500"
        datarows="data"
        context-menu>

    <hot-column data="targetName" title="'Target Name'"></hot-column>
    <hot-column type="'numeric'" format="'0.0000'" data="precursor" title="'Precursor m/z'"></hot-column>
    <hot-column type="'numeric'" format="'0.00'" data="retentionTime" title="'Retention Index'"></hot-column>
    <hot-column type="'checkbox'" data="riMarker" title="'RI Standard'"></hot-column>
</hot-table>
<br />


<div class="form-group">
    <label for="acquisitionMethod">Acquisition Method</label>
    <input type="text"
           id="acquisitionMethod"
           class="form-control"
           ng-model="target.library"
           placeholder="Acquisition Method"
           uib-typeahead="x for x in acquisitionMethodOptions | filter:$viewValue"
           typeahead-show-hint="true"
           typeahead-min-length="0">
</div>

<div class="form-group">
    <label for="mode">Mode</label>
    <select id="mode" class="form-control" data-ng-model="target.mode">
        <option value="positive">Positive</option>
        <option value="negative">Negative</option>
    </select>
</div>

<div>
    <button type="button" class="btn btn-primary" ng-click="submitLibrary()" ng-disabled="running" ng-if="!success">
        <span ng-if="running" class="spinner"><i class="fa fa-spinner fa-spin"></i></span>
        <span>Submit</span>
    </button>
    <button class="btn btn-primary" type="reset" ng-click="reset()">Reset</button>
</div>