<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date{ISO8601} %level %line --- [%thread] %logger{5} - %msg%n%ex</Pattern>
        </layout>
    </appender>

    <logger name="edu.ucdavis.fiehnlab.loader" level="debug"/>
    <logger name="edu.ucdavis.fiehnlab.ms.carrot.core.io" level="debug"/>
    <logger name="edu.ucdavis.fiehnlab.ms.carrot.core.api.io.agilent" level="debug"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
