<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
	        <Pattern>%date{ISO8601} %level %line --- [%thread] %logger{5} - %msg%n%ex</Pattern>
        </layout>
    </appender>
    <logger name="edu.ucdavis.fiehnlab.ms.carrot.core" level="debug"/>
    <logger name="edu.ucdavis.fiehnlab.ms.carrot.core.api.io" level="info"/>
    <logger name="edu.ucdavis.fiehnlab.ms.carrot.core.api.filter" level="info"/>
	<logger name="edu.ucdavis.fiehnlab.ms.carrot.core.io.mzxml" level="trace"/>
	<logger name="edu.ucdavis.fiehnlab.ms.carrot.core.api.annotation" level="info"/>
	<logger name="edu.ucdavis.fiehnlab.ms.carrot.core.workflow.io" level="trace"/>
	<logger name="edu.ucdavis.fiehnlab.ms.carrot.core.workflow.msdial" level="info"/>
	<logger name="edu.ucdavis.fiehnlab.ms.carrot.core.workflow.sample" level="info"/>
	<logger name="edu.ucdavis.fiehnlab.ms.carrot.core.workflow.sample.preprocessing" level="info"/>
	<logger name="edu.ucdavis.fiehnlab.ms.carrot.core.workflow.sample.postprocessing" level="info"/>
	<logger name="edu.ucdavis.fiehnlab.ms.carrot.core.workflow.sample.correction" level="info"/>
	<logger name="edu.ucdavis.fiehnlab.ms.carrot.core.workflow.sample.annotation" level="info"/>
	<logger name="edu.ucdavis.fiehnlab.wcms.api.rest.msdialrest4j" level="debug" additivity="true"/>
	<logger name="edu.ucdavis.fiehnlab.wcms.api.rest.fserv4j" level="debug" additivity="false"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
