<configuration scan="true" scanPeriod="30 seconds">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS} UTC || %date{"HH:mm:ss",PST} PST] [%-10.10thread] [%-30.30logger{0}] [%line] [%-5level] %msg%n</pattern>
        </encoder>
    </appender>


    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="edu.ucdavis.fiehnlab.wcmc.api.rest.msdialrest4j" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
</configuration>
