<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Add comments</h3>
</div>
<div class="modal-body" id="modal-body">
    <ul>
        <li ng-repeat="item in $ctrl.items">Bin {{ item.id }}, {{ item.bin }}</li>
    </ul>

    <label for="comment">Comments</label>
    <textarea class="form-control" ng-model="comment" id="comment"></textarea>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
